In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime
import numpy as np

In [3]:
data = []

In [4]:
date = datetime.datetime(2016,1,1)

const = 42370

for i in range(74) :
    
    date = date + datetime.timedelta(days=1)
    const = const+1
    year = date.year
    month = date.month
    day = date.day
    url = "https://timesofindia.indiatimes.com/"+str(date.year)+"/"+str(date.month)+"/"+str(date.day)+"/archivelist/year-"+str(date.year)+",month-"+str(date.month)+",starttime-"+str(const)+".cms"
  
    r = requests.get(url) 
   
    soup = BeautifulSoup(r.content, 'html5lib')

    links = soup.find_all("span",{'style' : "font-family:arial ;font-size:12;color: #006699"})

    soup1 = links[0]
    soup2 = links[1]
    #soup3 = links[2]

for a in soup1.find_all('a') :
    row = [year, month, day, a.get_text()]
    data.append(row)
    for a in soup2.find_all('a') :
        row = [year, month, day, a.get_text()]
        data.append(row)


    if (i%100 == 0) :
        print(f"---- {i} ----")

In [5]:
data1 = np.array(data)

In [6]:
data1.shape

(62748, 4)

In [7]:
dataset = pd.DataFrame(data1)

In [8]:
dataset.columns = ['year','month','day','headlines']

In [9]:
dataset

       year month day                                          headlines
0      2016     3  15  It's destination Malaysia for Kollywood filmma...
1      2016     3  15                Rescued leopard dies in Udaipur zoo
2      2016     3  15      '1% excise on non-silver jewellery will stay'
3      2016     3  15                Woman patwari held for taking bribe
4      2016     3  15  Babus corrupt but netas get blamed: Congress L...
...     ...   ...  ..                                                ...
62743  2016     3  15   Mithali & Co face easy opener against Bangladesh
62744  2016     3  15                  Cong alleges corruption in MNREGA
62745  2016     3  15           Jewellers and garment makers demonstrate
62746  2016     3  15          Kannada film picks Easter weekend release
62747  2016     3  15                     'BJP overpaid power companies'

[62748 rows x 4 columns]

In [10]:
dataset.to_csv(r"C:\Users\Sumain\Desktop\gitu\dataset2016.csv",index=True)