In [2]:

import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime

In [3]:
data = []

In [5]:
date = datetime.datetime(2015,1,1)

const = 42005

for i in range(74) :
    
    date = date + datetime.timedelta(days=1)
    const = const+1
    year = date.year
    month = date.month
    day = date.day
    url = "https://timesofindia.indiatimes.com/"+str(date.year)+"/"+str(date.month)+"/"+str(date.day)+"/archivelist/year-"+str(date.year)+",month-"+str(date.month)+",starttime-"+str(const)+".cms"
  
    r = requests.get(url) 
   
    soup = BeautifulSoup(r.content, 'html5lib')

    links = soup.find_all("span",{'style' : "font-family:arial ;font-size:12;color: #006699"})

    soup1 = links[0]
    soup2 = links[1]
    #soup3 = links[2]

for a in soup1.find_all('a') :
    row = [year, month, day, a.get_text()]
    data.append(row)
    for a in soup2.find_all('a') :
        row = [year, month, day, a.get_text()]
        data.append(row)


    if (i%100 == 0) :
        print(f"---- {i} ----")

In [6]:
import numpy as np
data1 = np.array(data)

In [7]:
data1.shape

(62748, 4)

In [8]:
dataset = pd.DataFrame(data1)

In [9]:
dataset.columns = ['year','month','day','headlines']

In [10]:
dataset

       year month day                                          headlines
0      2015     3  16                          Simple guide to sexy legs
1      2015     3  16  8 foreigners among 12 held in raid on booze party
2      2015     3  16  Dalit's body exhumed after activists allege mu...
3      2015     3  16   Minister seeks NH tag for Tawang-Vijaynagar road
4      2015     3  16  JE vaccination drive to cover all 27 dists in ...
...     ...   ...  ..                                                ...
62743  2015     3  16  Kejriwal leaves Bengaluru with a lot of ideas ...
62744  2015     3  16  Nun gang-raped in West Bengal: Cops detain 2 m...
62745  2015     3  16    Suyyash Rai beaten up, files a police complaint
62746  2015     3  16  Outfits seek ban on Puliyur Murugesan's book, ...
62747  2015     3  16  Outfits seek ban on Puliyur Murugesan's book, ...

[62748 rows x 4 columns]

In [11]:
dataset.to_csv(r"C:\Users\Sumain\Desktop\gitu\dataset2015.csv",index=True)