In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime
import numpy as np

In [4]:
data = []

In [5]:
date = datetime.datetime(2019,1,1)

const = 43466

for i in range(74) :
    
    date = date + datetime.timedelta(days=1)
    const = const+1
    year = date.year
    month = date.month
    day = date.day
    url = "https://timesofindia.indiatimes.com/"+str(date.year)+"/"+str(date.month)+"/"+str(date.day)+"/archivelist/year-"+str(date.year)+",month-"+str(date.month)+",starttime-"+str(const)+".cms"
  
    r = requests.get(url) 
   
    soup = BeautifulSoup(r.content, 'html5lib')

    links = soup.find_all("span",{'style' : "font-family:arial ;font-size:12;color: #006699"})

    soup1 = links[0]
    soup2 = links[1]
    #soup3 = links[2]

for a in soup1.find_all('a') :
    row = [year, month, day, a.get_text()]
    data.append(row)
    for a in soup2.find_all('a') :
        row = [year, month, day, a.get_text()]
        data.append(row)


    if (i%100 == 0) :
        print(f"---- {i} ----")

In [6]:
data1 = np.array(data)

In [7]:
data1.shape

(62748, 4)

In [8]:
dataset = pd.DataFrame(data1)

In [9]:
dataset.columns = ['year','month','day','headlines']

In [10]:
dataset

       year month day                                          headlines
0      2019     3  16                      Films that depicted elections
1      2019     3  16                  Dangerous construction activities
2      2019     3  16                                 Hazardous hoarding
3      2019     3  16                    Swachch Bharat? Not this place!
4      2019     3  16                                          dark spot
...     ...   ...  ..                                                ...
62743  2019     3  16     IIM-Lucknow last diploma batch graduates today
62744  2019     3  16  Madras university cancels seminar, sparks cont...
62745  2019     3  16  1,000 school children rally against tree-felli...
62746  2019     3  16       Gate 2019 result declared, check cutoff here
62747  2019     3  16  Nowhera knocks HC door, seeks transfer of case...

[62748 rows x 4 columns]