In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime
import numpy as np

In [3]:
data = []

In [4]:
date = datetime.datetime(2018,1,1)

const = 43101

for i in range(74) :
    
    date = date + datetime.timedelta(days=1)
    const = const+1
    year = date.year
    month = date.month
    day = date.day
    url = "https://timesofindia.indiatimes.com/"+str(date.year)+"/"+str(date.month)+"/"+str(date.day)+"/archivelist/year-"+str(date.year)+",month-"+str(date.month)+",starttime-"+str(const)+".cms"
  
    r = requests.get(url) 
   
    soup = BeautifulSoup(r.content, 'html5lib')

    links = soup.find_all("span",{'style' : "font-family:arial ;font-size:12;color: #006699"})

    soup1 = links[0]
    soup2 = links[1]
    #soup3 = links[2]

for a in soup1.find_all('a') :
    row = [year, month, day, a.get_text()]
    data.append(row)
    for a in soup2.find_all('a') :
        row = [year, month, day, a.get_text()]
        data.append(row)


    if (i%100 == 0) :
        print(f"---- {i} ----")

In [5]:
data1 = np.array(data)

In [6]:
data1.shape

(62748, 4)

In [7]:
dataset = pd.DataFrame(data1)

In [8]:
dataset.columns = ['year','month','day','headlines']

In [9]:
dataset

       year month day                                          headlines
0      2018     3  16  I thought about quitting because I lost my fai...
1      2018     3  16       CBSE: Accountancy paper draws mixed response
2      2018     3  16    Woman caught trying to kidnap 21-month-old girl
3      2018     3  16               Senior citizen files theft complaint
4      2018     3  16  Sealing drive: Delhi government seeks time wit...
...     ...   ...  ..                                                ...
62743  2018     3  16                                 Movie Review: Raid
62744  2018     3  16                  13-year-old raped in Gautam Nagar
62745  2018     3  16  Rain, snow bring down mercury in Himachal Pradesh
62746  2018     3  16  CoA questions BCCI acting secretary on his pla...
62747  2018     3  16         UP Board copies found abandoned in Kannauj

[62748 rows x 4 columns]

In [10]:
dataset.to_csv(r"C:\Users\Sumain\Desktop\gitu\dataset2018.csv",index=True)